body{
    text-align:center;
    font-family: sans-serif;
    font-size: 1em;
    background-color: darkcyan;
    color: yellow;
}

p{
    color: black;
}

#previous{
    color: darkcyan;
    background-color: yellow;
}
#next{
    color: darkcyan;
    background-color: yellow;
}
/*
image{
    max-width: 100%;
}*/
