*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
header{
    background-image: url(sky.jpg);
    font-size: 1.5em;
    text-align: center;
    padding: 35px;
}
.header a{
    color:aliceblue;
    text-decoration: none;
}
/*
h1{
    margin: 9px;
}
*/
h1 a{
    color: white;
    display: inline-block;
    text-decoration: none;
     margin: 9px;
}
ul{
    list-style-type: none;
    overflow: hidden;
    
}
li{
    display: inline-block;
    background: #555470;
}
li a{
    font-size: 18px;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 15px 18px;
    text-decoration: none;
}
li a:hover {
    background-color:white;
    color: #3f4055;
}
img{
    float:left;
    width:50%;
    height:50%;
}