body{
    text-align:left;
    font-family: sans-serif;
    font-size: 1.5em;
    background-color: darkcyan;
    color: yellow;
}

}

select{
    margin: 1.5px auto;
}
p{
    font-size: 1em;
    font-family:fantasy;
    color:brown;
}

button{
    font-size: 1em;
    color: darkcyan;
    background-color: yellow;
}
img{
    width:50%;
    height:50%;
}